---
layout: default
title: Terms
---
.container.text-left
  .row
    .col-sm-9.col-md-9
      #gitlab-com
        %h2.terms GitLab Website Terms of Use
        = partial "includes/terms/gitlab-com"
      #subscription
        %h2.terms GitLab Subscription Terms
        = partial "includes/terms/subscription"
      #consultancy
        %h2.terms GitLab Professional Services Terms
        = partial "includes/terms/consultancy"
      #edu-oss
        %h2.terms Education and OSS Terms
        = partial "includes/terms/edu-oss"
      #reseller
        %h2.terms Fulfillment Reseller Agreement
        = partial "includes/terms/reseller"
    .col-sm-3.col-md-3.hidden-xs
      %ul.nav.nav-list.fixed-sidenav{data: {spy: "affix", offset: {top: 100}}}
        %li
          = link_to "GitLab Website Terms of Use", "#gitlab_com"
        %li
          = link_to "GitLab Subscription Terms", "#subscription"
        %li
          = link_to "GitLab Professional Services Terms", "#consultancy"
        %li
          = link_to "Education and OSS Terms", "#edu-oss"
        %li
          = link_to "Fulfillment Reseller Agreement", "#reseller"
        %li
          = link_to "Privacy Policy", "/privacy"
        %li
          = link_to "DMCA Policy", "/handbook/dmca"
        %li
          = link_to "Responsible Disclosure Policy", "/disclosure"
