---
title: Product
suppress_header: true
extra_css:
  - product.css
---

.blank-header
  = image_tag "/images/home/icons-pattern-left.svg", class: "image-border image-border-left", alt: "Gitlab hero border pattern left svg"
  = image_tag "/images/home/icons-pattern-right.svg", class: "image-border image-border-right", alt: "Gitlab hero border pattern right svg"
  .header-content
    = image_tag "/images/devops-tools/gitlab-logo.svg", class: "hero-image-small", alt: "Gitlab logo svg"
    %h1 Product
    %p
      :markdown
        GitLab is a complete DevOps platform, delivered as a single application, fundamentally changing the way Development, Security, and Ops teams collaborate. GitLab helps teams accelerate software delivery from weeks to minutes, reduce development costs, and reduce the risk of application vulnerabilities while increasing developer productivity.
    %a.btn.cta-btn.btn-red{ href: '/demo/' }
      Watch a GitLab demo

.toc-links
  - data.stages.stages.select{|stageKey,stage| stage.marketing}.each do |key, stage|
    %a.capitalize{ href: "##{key.gsub('_', '-').downcase}" }
      = key.gsub('_', '-').downcase

.gitlab-content-container.padding-top20
  .content
    - Gitlab::Homepage::Stage.all!.select{|stage| stage.marketing}.each do |stage|
      %h2.stage-name{ id: "#{stage.key.gsub('_', '-').downcase}" }
        = stage.display_name
      .tile
        .grid-layout.grid-layout2
          - stage.categories.each do |category|
            - url = category.best_link
            - if (stage.display_name.downcase === category.stage) && category.marketing && category.maturity && category.maturity != "planned"
              .grid-item.flex-container.flex-column.flex-start
                %a.category-title.flex-container.align-center.full-width{ href: "#{url}" }
                  = image_tag "/images/devops-tools/gitlab-logo.svg", class: "category-logo", alt: "GitLab logo svg"
                  %h3.margin0{ id: "#{category.key.gsub('_', '-').downcase}" }
                    = category.name
                - if category.description? || category.description != ""
                  %p.margin-top20
                    = category.description
                %a.learn-more.flex-container.align-center{ href: "#{url}" }
                  Learn More →

.gitlab-cta-container.text-center
  .container
    %h2.color-primary
      Choose the version of GitLab that is best for you
    %p
      Host GitLab on your servers or let us host it for you
    = link_to "/pricing", class: "btn cta-btn accent margin-top20" do
      Explore our plans
