---
layout: markdown_page
title: "Product Kickoff Review"
---
<% keyValue = 2 # by default show the upcoming release (index 0 is all releases, 1 is next, and 2 is release after next) %> 
<% keyValue = 1 if Date.today.day.between?(18, 22) # between the 18th and 22nd the release ticks over, but we still want to show the same release %>
- TOC
{:toc}

## Overview

The next GitLab release we are kicking off is 
<%= direction.keys[keyValue] %> 
and this page contains the list of issues that are currently planned for that release. We present this during the monthly kickoff call, which is livestreamed publicly to the [GitLab YouTube channel](https://www.youtube.com/channel/UCnMGQ8QHMAnVIsI3xJrihhg). 

In terms of meeting logistics, only presenters will be promoted to panelists so please use the “Raise my hand” feature if you are a presenter.
Please also use YouTube comments instead of Google Hangout or Zoom comments. During the meeting, Product Section leaders will present highlights from their respective areas. We will not cover each item in the list below, so feel free to click on any you're interested in and participate directly in the issue.

This page updates on the 22nd of each month to show the next release we will be kicking off. We also have [a YouTube playlist of the below referenced recorded Kickoffs](https://www.youtube.com/watch?v=Q-6LNTSkE8M&list=PL05JrBw4t0KqeXr-LNNOBDaxtaZtAAkak).

We'd appreciate it if you would be willing to provide us [feedback](
https://docs.google.com/forms/d/e/1FAIpQLSdNyIB_Rk3rn2-PI-5dWhb7rUfBLmGziTlbmeKYP-mFQEESQQ/viewform?usp=sf_link) on our Kickoff process.

## Dev Section

### Manage

**Video**: 
* [Manage: Access and Analytics Kickoff Video](https://www.youtube.com/watch?v=ee6CbsuoarM&)
* [Manage: Compliance Kickoff Video](https://www.youtube.com/watch?v=VmMQ5Wpfo5Q)

**Issues**:
<%= direction[direction.keys[keyValue]]["manage"] %>

### Plan

**Video**: 
* [Plan: Project Management Kickoff Video](https://www.youtube.com/watch?v=Q-6LNTSkE8M) 
* [Plan: Portfolio Management Kickoff Video](https://www.youtube.com/watch?v=QznI3sfHAuM)
* [Plan: Certify Kickoff Video](https://www.youtube.com/watch?v=zmrifcQ7ovI)

**Issues**:
<%= direction[direction.keys[keyValue]]["plan"] %>

### Create

**Videos**:
* [Create:Source Code and Gitaly Kickoff Video](https://www.youtube.com/watch?v=eQRtilEuRnc)
* [Create:Knowledge Kickoff Video](https://www.youtube.com/watch?v=IuxsxoW7_44&feature=youtu.be)
* [Create:Editor Kickoff Video](https://www.youtube.com/watch?v=jsRELVQEAvs) 

**Issues**:
<%= direction[direction.keys[keyValue]]["create"] %>

## CI/CD Section

### Verify

**Videos**: 

* [Runner Group](https://youtu.be/NwMV-WtjJxw)
* [Testing Group](https://www.youtube.com/watch?v=JhCxP8AyWQo)
* [Continuous Integration Group](https://youtu.be/_2yA7h9NpMc)

**Issues**:
<%= direction[direction.keys[keyValue]]["verify"] %>

### Package

**Videos**: 

* [Package Group](https://www.youtube.com/watch?v=rciCVn2Yds0)

**Issues**:
<%= direction[direction.keys[keyValue]]["package"] %>

### Release

**Videos**: 

* [Progressive Delivery Group](https://youtu.be/BsSYygRnDcE)
* [Release Management Group](https://www.youtube.com/watch?v=EGc-sTcCLgY)

**Issues**:
<%= direction[direction.keys[keyValue]]["release"] %>

## Ops Section

### Configure

**Videos**: 
* [Configure:Orchestration Kickoff Video](https://www.youtube.com/watch?v=2L9W7nOsRg8&list=PL05JrBw4t0KrC_-b7EXgwskea86uF3yK4&index=23&t=0s)
* [Configure:System Kickoff Video](https://www.youtube.com/watch?v=hOd0w9_hvqs&list=PL05JrBw4t0KrC_-b7EXgwskea86uF3yK4&index=25&t=0s)

**Issues**:
<%= direction[direction.keys[keyValue]]["configure"] %>

### Monitor

**Videos**: 
* [Monitor:APM Kickoff Video](https://www.youtube.com/watch?v=NLGs21eG5Lk&list=PL05JrBw4t0KrC_-b7EXgwskea86uF3yK4&index=2&t=0s)
* [Monitor:Health Kickoff Video](https://www.youtube.com/watch?v=NLGs21eG5Lk&list=PL05JrBw4t0KrC_-b7EXgwskea86uF3yK4&index=2&t=0s)

**Issues**:
<%= direction[direction.keys[keyValue]]["monitor"] %>

## Secure Section

### Secure

**Videos**: 
* [Static Analysis Kickoff Video](https://youtu.be/E27HKixPTKo)
* [Dynamic Analysis Kickoff Video](https://youtu.be/adMco_RrWxw)
* [Composition Analysis Kickoff Video](https://youtu.be/d1H_Ir9B-gQ)

**Issues**:
<%= direction[direction.keys[keyValue]]["secure"] %>

## Defend Section

### Defend

**Videos**: 
* [Threat Management](https://youtu.be/hvQchs9m4Hg)
* [Runtime Application Security](https://youtu.be/V780basRTmY)
* [Application Infrastructure Security](https://youtu.be/E6xEqOd6AuI)

**Issues**:
<%= direction[direction.keys[keyValue]]["defend"] %>

## Enablement Section

**Videos**: 
* [Distribution Kickoff Video](https://youtu.be/X-m5OokRphk)
* [Geo Kickoff Video](https://www.youtube.com/watch?v=ku-KsNbGc0U)
* [Ecosystem Kickoff Video](https://youtu.be/x9WfE4TGeWw)
* [Memory Kickoff Video](https://youtu.be/Dpsbzh8KxGs)
* [Database Kickoff Video](https://youtu.be/jhgdnWAO5z0)

**Epics**:

- [Geo: Supports Design Management](https://gitlab.com/groups/gitlab-org/-/epics/1633)
- [Geo: Replication should be easy to pause and resume](https://gitlab.com/groups/gitlab-org/-/epics/2159)
- [Memory: Enable Puma on GitLab.com](https://gitlab.com/groups/gitlab-com/gl-infra/-/epics/78)
- [Memory: Enable Puma WebServer for GitLab](https://gitlab.com/groups/gitlab-org/-/epics/954)
- [Memory: Improve project import/export](https://gitlab.com/groups/gitlab-org/-/epics/1810)
- [Distribution & Database: Move to Postgres 11](https://gitlab.com/groups/gitlab-org/-/epics/2184)
- [Distribution: Automate HA and Geo setup](https://gitlab.com/groups/gitlab-org/-/epics/1949)
- [Distribution: GitLab Helm Chart 3.0](https://gitlab.com/groups/gitlab-org/charts/-/epics/6)
- [Distribution: Increasing the maturity of the cloud native install](https://gitlab.com/groups/gitlab-org/-/epics/2260)

**Issues**:
<%= direction[direction.keys[keyValue]]["enablement"] %>

---
Debug: <%= Date.today.day %> : <%= Date.today.day.between?(18, 22) %> : <%= keyValue %> : <%= direction.keys[0] %> : <%= direction.keys[1] %> : <%= direction.keys[2] %>
